## Read Data from JSON

In [49]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [50]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'waffer', 'pr': 20, 'qn': 1000},
 '1011': {'name': 'mineral_water', 'pr': 90, 'qn': 100},
 '1012': {'name': 'Chocolate', 'pr': 20, 'qn': 60},
 '1013': {'name': 'Nuts', 'pr': 10, 'qn': 500},
 '1014': {'name': 'Milk', 'pr': 60, 'qn': 10},
 '1015': {'name': 'Speaker', 'pr': 5000, 'qn': 10},
 '1016': {'name': 'Decoration', 'pr': 20, 'qn': 50},
 '1017': {'name': 'Lays', 'pr': 20, 'qn': 90},
 '1018': {'name': 'Namkeen', 'pr': 23, 'qn': 100},
 '1019': {'name': 'Biscuits', 'pr': 40, 'qn': 100},
 '1021': {'name': 'A', 'pr': 67, 'qn': 10},
 '1022': {'name': 'C', 'pr': 22, 'qn': 11},
 '1023': {'name': 'D', 'pr': 7, 'qn': 9},
 '1024': {'name': 'E', 'pr': 8, 'qn': 18},
 '1025': {'name': '6', 'pr': 6, 'qn': 9},
 '1026': {'name': 'Q', 'pr': 10, 'qn': 8},
 '1027': {'name': 'W', 'pr': 6, 'qn': 10},
 '1028': {'name': 'GH', 'pr': 109, 'qn': 8},
 '1029': {'name': 'JK', 'pr': 10, 'qn': 9},
 '1030': {'name': 'K', 'pr': 18, 'qn': 10},
 '8': {'name': 'G', 'pr': 7, 'qn': 9},
 'B': {'name': 'BB', 'pr': 20, 'qn': 10},
 'Shampoo sachet': {'name': '2', 'pr': 1, 'qn': 3}}

## Add New Item into Inventory

In [ ]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1009
Enter name:Keyboard
Enter price:1999
Enter quantity:10

In [57]:
##To enter 30 items in inventory at once
# i = 10
# for i in range(10,22):
#   prod_id = str(input("Enter product id:"))
#   name = str(input("Enter name:"))
#   pr = int(input("Enter price:"))
#   qn = int(input("Enter quantity:"))

#   record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

#   js = json.dumps(record)

#   fd = open("record.json",'w')
#   fd.write(js)
#   i+=1
#   if(i == 23):
#     fd.close()
#     exit()

In [54]:
count = 0

In [55]:
if (count == 0):
  prod_id = str(input("Enter product id:"))
  if prod_id not in(record.keys()):
    count+=1
    name = str(input("Enter name:"))
    pr = int(input("Enter price:"))
    qn = int(input("Enter quantity:"))

    record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

    js = json.dumps(record)

    fd = open("record.json",'w')
    fd.write(js)
    fd.close()
  else:
    print("This prod already exists in the Inventory")
    print("Do you want to add more qty")
    usr_ip = str(input())
    if (usr_ip == 'Y' or 'Yes'):
      qty_new = int(input('Enter the new qty to be added'))
      record[prod_id] = {'name': name, 'pr': pr, 'qn': qn + qty_new}
      print("Qty added")
      js = json.dumps(record)

      fd = open("record.json",'w')
      fd.write(js)
      fd.close()
      count = 0
    elif (usr_ip == 'N' or 'No'):
      count = 0

    else:
      print("Invalid Input Please enter again")
      count = 0

Enter product id:1030
This prod already exists in the Inventory
Do you want to add more qty
y
Enter the new qty to be added20
Qty added

In [56]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'waffer', 'pr': 20, 'qn': 1000},
 '1011': {'name': 'mineral_water', 'pr': 90, 'qn': 100},
 '1012': {'name': 'Chocolate', 'pr': 20, 'qn': 60},
 '1013': {'name': 'Nuts', 'pr': 10, 'qn': 500},
 '1014': {'name': 'Milk', 'pr': 60, 'qn': 10},
 '1015': {'name': 'Speaker', 'pr': 5000, 'qn': 10},
 '1016': {'name': 'Decoration', 'pr': 20, 'qn': 50},
 '1017': {'name': 'Lays', 'pr': 20, 'qn': 90},
 '1018': {'name': 'Namkeen', 'pr': 23, 'qn': 100},
 '1019': {'name': 'Biscuits', 'pr': 40, 'qn': 100},
 '1021': {'name': 'A', 'pr': 67, 'qn': 10},
 '1022': {'name': 'C', 'pr': 22, 'qn': 11},
 '1023': {'name': 'D', 'pr': 7, 'qn': 9},
 '1024': {'name': 'E', 'pr': 8, 'qn': 18},
 '1025': {'name': '6', 'pr': 6, 'qn': 9},
 '1026': {'name': 'Q', 'pr': 10, 'qn': 8},
 '1027': {'name': 'W', 'pr': 6, 'qn': 10},
 '1028': {'name': 'GH', 'pr': 109, 'qn': 8},
 '1029': {'name': 'JK', 'pr': 10, 'qn': 9},
 '1030': {'name': 'JK', 'pr': 10, 'qn': 30},
 '8': {'name': 'G', 'pr': 7, 'qn': 9},
 'B': {'name': 'BB', 'pr': 20, 'qn': 10},
 'Shampoo sachet': {'name': '2', 'pr': 1, 'qn': 3}}